<h2><%= @vanda_object.record.titles.present? ? @vanda_object.record.titles[0].title : @vanda_object.record.object_type %></h2>

<% if @vanda_object.meta.images.present? %>
  <%= image_tag(@vanda_object.meta.images._primary_thumbnail, alt: "#{} thumbnail") %>
<% end %>

<h3>Object details</h3>
<dl>
  <dt>Date</dt>
  <dd>
    <%= @vanda_object.record.production_dates.present? ? "#{@vanda_object.record.production_dates[0].date.text} (#{@vanda_object.record.production_dates[0].association.text})" : "Unknown" %>
  </dd>

  <dt>Artist/Maker</dt>
  <dd>
    <%= @vanda_object.record.artist_maker_person.present? ? @vanda_object.record.artist_maker_person[0].name.text : "Unknown" %>
  </dd>

  <% if @vanda_object.record.places_of_origin.present? %>
    <dt>Place of origin</dt>
    <dd>
        <% @vanda_object.record.places_of_origin.each do |p| %>
          <%= "#{p.place.text} (#{p.association.text})" %>
        <% end %>
    </dd>
  <% end %>

  <dt>System number</dt>
  <dd>
    <%= @vanda_object.record.system_number %>
  </dd>

  <dt>Object type</dt>
  <dd>
    <%= @vanda_object.record.object_type %>
  </dd>

  <% if @vanda_object.record.titles.present? %>
    <dt>Title(s)</dt>
    <dd>
      <% @vanda_object.record.titles.each do |t| %>
        <%= "#{t.title} (#{t.type})" %>
      <% end %>
    </dd>
  <% end %>

  <% if @vanda_object.record.brief_description.present? %>
    <dt>Brief description</dt>
    <dd>
      <%= sanitize @vanda_object.record.brief_description %>
    </dd>
  <% end %>

  <dt>Materials and techniques</dt>
  <dd>
    <%= @vanda_object.record.materials_and_techniques %>
  </dd>

  <% if @vanda_object.record.physical_description.present? %>
    <dt>Physical description</dt>
    <dd>
      <%= sanitize @vanda_object.record.physical_description %>
    </dd>
  <% end %>

  <% if @vanda_object.record.summary_description.present? %>
    <dt>Summary</dt>
    <dd>
      <%= sanitize @vanda_object.record.summary_description %>
    </dd>
  <% end %>

  <% if @vanda_object.record.object_history.present? %>
    <dt>Object history</dt>
    <dd>
      <%= sanitize @vanda_object.record.object_history %>
    </dd>
  <% end %>

  <% if @vanda_object.record.historical_context.present? %>
    <dt>Historical context</dt>
    <dd>
      <%= sanitize @vanda_object.record.historical_context %>
    </dd>
  <% end %>

  <% if @vanda_object.record.associated_events.present? %>
    <dt>Associated events</dt>
    <dd>
        <% @vanda_object.record.associated_events.each do |event| %>
          <%= sanitize event.text %>
        <% end %>
    </dd>
  <% end %>

  <% if @vanda_object.record.gallery_labels.present? %>
    <dt>Most recent gallery label</dt>
    <dd>
      <%= sanitize @vanda_object.record.gallery_labels[0].text %> <br>
      <%= sanitize @vanda_object.record.gallery_labels[0].date.text %>
    </dd>
  <% end %>
</dl>