<h1>Contested Objects</h1>

<h2>Search the V&A Collection for a museum object</h2>
<%= form_with url: search_museum_objects_path, method: :get do |form| %>
  <%= form.label :system_number, "Search by system number:" %>
  <%= form.text_field :system_number %>
  <%= form.submit "Search", name: nil %>
<% end %>

<h2>Saved museum objects</h2>
<ul>
  <% @museum_objects.each do |museum_object| %>
  <li>
    <%= link_to museum_object.system_number, museum_object_path(museum_object.system_number) %>
  </li>
  <% end %>
</ul>