<h1>Search result</h1>

<%= form_with model: @museum_object, url: museum_objects_path, method: :post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <%= form.hidden_field :system_number, value: @vanda_object.record.systemNumber %>
  <%= form.submit "Save this object" %>
<% end %>

<%= render "vanda_object" %>